/* 
 * Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
 * Click nbfs://nbhost/SystemFileSystem/Templates/Other/javascript.js to edit this template
 */


body {

    background: #0ca002;
}

#pagina {

    background-color:white ;
    padding: 0;
}

header {

    background-color: dimgrey;
}

.titulo {

    margin: 50px;
}

.borda {

    border: 1px solid black;
}

.espacamento {

    margin-left: 5px;
    margin-right: 5px;
}

h5 {

    margin: 40px;
}

.vantagens {

    margin-top: 50px;
    margin-bottom: 20px;
}

.vantagens img {

    width: 80px;
    right: 80px;
}

.imagem-quarto {
    max-width: 100%; 
    height: 150px; 
    margin: 20px;
}

.botao-quartos{

    margin-bottom: 20px; 
}


h6 {

    margin-top: 20px;
    margin-bottom: 20px;
}

footer {

    margin-top: 30px;
}

#txtObservacoes {

    padding-bottom: 60px;
}

#form-submit {

    width: 70%;
    margin-top: 30px;
}

footer h5 {

    margin-left: auto;
}