    <nav>
        <div class="col-sm-12">
            <div class="row">
        
                <div class="col-sm-6">
            
                    <a th:href="@{/pagina-inicial}" style="text-decoration: none; color: white"><h4>POUSADA</h4></a> 
            
                </div>
                <div class="col-sm-4">

                    <a th:href="@{/pagina-quartos}" style="text-decoration: none; color: white"><u>Quartos</u></a> 

                </div>
                
            </div>
        </div>
        
    </nav> 