    <nav>
        <div class="col-sm-12">
            <div class="row">
        
                <div class="col-sm-4">
            
                    <a th:href="@{/pagina-inicial}"><h4>POUSADA</h4></a> 
            
                </div>
                <div class="col-sm-4">

                    <a th:href="@{/pagina-quartos}"><u>Quartos</u></a> 

                </div>
               
                <div class="col-sm-4">
                            
                    <form> 
                        <div class="row align-items-center">
                            
                            <div class="col-auto">
                            
                                <label>Tema: </label><span class="textoTema"></span>
                            
                            </div>
                            
                            <div class="col-auto">
                                <div class="form-check form-switch">

                                    <input class="form-check-input mudaTema" type="checkbox" id="mudaTema" th:value="${css}">

                                </div>
                            </div>
                  
                        </div>
                    </form> 
                </div>
                
            </div>
        </div>
        
    </nav> 