<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Solicitações</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/pagina-solicitacoes.css}" /> 
            <link th:href="@{/css/}+${css}+'.css'" rel="stylesheet" type="text/css"/>   
            
    </head>
    <body>
        
        <div id="pagina" class="container justify-content-center">

            <header class="container borda" th:insert="navbar.html :: nav">
                
            </header>
        
            <div>
                <table class="table table-striped">

                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Data de entrada</th>
                        <th>Data de saída</th>
                        <th>Quarto desejado</th>
                        <th>Quantidade de adultos</th>
                        <th>Quantidade de crianças</th>
                        <th>Observações</th>
                        <th>Concluido</th>
                        <th>       </th>
                    </tr>

                    <tr th:each="solicitacao : ${solicitacoes}" data-id="${solicitacao.id}">
                        <td th:text="${solicitacao.id}"></td>
                        <td th:text="${solicitacao.nome}"></td>
                        <td th:text="${solicitacao.email}"></td>
                        <td th:text="${solicitacao.data_entrada}"></td>
                        <td th:text="${solicitacao.data_saida}"></td>
                        <td th:text="${solicitacao.quarto_desejado}"></td>
                        <td th:text="${solicitacao.quantidade_adultos}"></td>
                        <td th:text="${solicitacao.quantidade_criancas}"></td>
                        <td th:text="${solicitacao.observacao}"></td>
                        
                        <td>
                            
                            <div class="form-check">
                    
                                <input class="form-check-input atualizaStatus" type="checkbox" id="atualizaStatus" th:value="${solicitacao.id}" 
                                       th:checked="${solicitacao.status}" th:disabled="${solicitacao.status}">
                               
                            </div>
                    
                        </td>
                        
                        <td>
                    
                            <a class="btn btn-danger excluir" th:href="@{/solicitacoes/deletar/{id}(id=${solicitacao.id})}">Excluir</a>
                    
                        </td>
                    </tr>

                </table>
            </div>
            
        </div>
        
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script> 
        <script th:src="@{/jquery/jquery.js}"></script> 
        
        <script th:src="@{/js/solicitacoes.js}"></script> 
        <script th:src="@{/js/cookie.js}"></script> 
        
    </body>
</html>
